{% extends 'base.html.twig' %}

{% block title %}Hello TabController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello</h1>

    <table class="table">
        {% for note in notes %}
        <tr>
            <td>{{note}}</td>
        </tr>
            
        {% endfor %}
    </table>

    <div class="alert alert-info">
        <p>Total des notes : {{notes | length}}</p>
        <p>Note minimale : {{min(notes)}}</p>
        <p>Note maximale : {{max(notes)}}</p>
    </div>

</div>
{% endblock %}
