{% extends 'template.html.twig' %}

{% block title %}Création d'un todo{% endblock %}

{% block PageTitle %}
Formulaire d'ajout d'un todo
{% endblock %}

{% block body %}
<div class="row">

{{form_start(form)}}
<div class="row">
    <div class="col">{{ form_row(form.name) }}</div>
    <div class="col">{{ form_row(form.content) }}</div>
</div>

{{ form_end(form)}}


</div>


{% endblock %}