{% extends '/template.html.twig' %}

{% block title %}Todo List{% endblock %}
{% block PageTitle %}
My Todo List
{% endblock %}

{% block body %}


<ol class="list-group">
    {% for name,content in app.session.get('todos') %}
    <li class="list-group-item d-flex">{{name}} : {{content}} <span class="ms-auto"><a href="{{ path('todo_delete', {name: name}) }}" class="btn btn-warning btn-sm mx-2"> supprimer </a><a href="{{ path('todo_update', {name: name, content: content}) }}" class="btn btn-warning btn-sm mx-2"> modifier (en cours) </a></span></li>
    {% endfor %}
</ol>


{% endblock %}