{% extends '/template.html.twig' %}

{% block title %}Todo List{% endblock %}
{% block PageTitle %}
My Todo List
{% endblock %}

{% block body %}


<ol class="list-group">
    {% for name,content in app.session.get('todos') %}
    <li class="list-group-item">{{name}} : {{content}}</li>
    {% endfor %}
</ol>


{% endblock %}